.input {
    background-image: linear-gradient(to right, rgba($color-secondary, 0.6), rgba($color-secondary, 0.8));
    border-radius: 10rem;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 2rem);
    text-align: center;
    *{font-size: 1.4rem}
    padding-bottom: 3rem;
    animation: moveInBottomMain 1s ease-out;
    &__h3 {
        font-size: 32px;
    }
    &__h4 {
        font-size: 32px;
        color: $color-white;
    }
    &__form {
        vertical-align: center;
        &__basic {
            text-align: left;
            margin-right: 5rem;
            display: inline-block;
            vertical-align: top;
            min-width: 10%;
            max-width: 50%;
            *{color: $color-lime-green;}
        }
        &__measurements {
            text-align: left;
            margin-left: 5rem;
            margin-right: 5rem;
            display: inline-block;
            vertical-align: top;
            min-width: 10%;
            max-width: 50%;
            *{color: $color-lime-green;}
        }
        [class^="input__form__basic__"] {
            display: block;
        }
        [class^="input__form__measurements__"] {
            display: block;
        }
    }
}

.submit-data {
    position: relative;
    margin-top: 200px;
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
    animation: moveInLeft 1s ease-out;
    border-radius: 10rem;
    background-color: $color-black;
    color: $color-white;
    min-width: 10%;
    max-width: 100%;
    &:hover {
        transform: scaleX(1.1) scaleY(1.1);
        transition: .2s;
        
    }
    &:active {
        transform: scaleX(1) scaleY(1);
    }
}