.footer {
    background-image: linear-gradient(to right, rgba($color-two, 1), rgba($color-one, 1));
    position: fixed;
    bottom: 0;
    width: 100vw;
    &__note {
        margin-left: 10vh;
        color: $color-white;
    }
    z-index: 1;
}