.sign-up {
    background-image: linear-gradient(to right, rgba($color-secondary, 0.6), rgba($color-secondary, 0.8));
    border-radius: 10rem;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 2rem);
    text-align: center;
    *{list-style: none;}
    *{font-size: 1.4rem}
    padding-bottom: 3rem;
    &__form {
        &__username {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &__password {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &__confirm {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &__button {
            font-size: 1.2rem;
            margin: 1rem 1rem;
            padding: .5rem 1.5rem;
            animation: moveInTop 1s ease-out;
            border-radius: 10rem;
            background-color: $color-black;
            color: $color-white;
            min-width: 10%;
            max-width: 100%;
        }
        &__label {
            display: block;
            color: white;
        }
    }
}

.sign-up-confirm {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: .5rem 1.5rem;
    animation: moveInTop 1s ease-out;
    border-radius: 10rem;
    background-color: $color-black;
    color: $color-white;
    min-width: 10%;
    max-width: 100%;
}

.return-login {
    font-size: 1.2rem;
    position: fixed;
    margin-left: 12rem;
    margin-top: -8rem;
    padding: .5rem 1.5rem;
    animation: moveInTop 1s ease-out;
    border-radius: 10rem;
    background-color: $color-black;
    color: $color-white;
    min-width: 10%;
    max-width: 100%;
}